@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

/*@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
/*@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
/*@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
/*@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
/*@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
/*@media (min-width:1281px) { /* hi-res laptops and desktops */ 

@font-face {
    font-family: 'Lato'; font-style: normal; font-weight: 400;
    src: local('Lato Regular');
    src: url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
}

/*RESPONSIVO*/

@media screen and (max-width:1000px) {  
    .tituloInformacion, .tituloTablaEpisodios, .tituloDatosPaciente, .tituloLabelElemento{
        font-size: 2vw;
    }
    .tituloEncargado{
        font-size: 1.8vw;
    }
    .subTituloLabelElemento{
        font-size: 1.5vw;
    }
}

body {
   cursor: default !important;
}

af|panelGroupLayout.contenedorCopyright{
    background-color:#1372A2;
    text-align:center; 
    margin:0; 
    padding:1vh;
    position: absolute;
    bottom: 0;
    width: 99.1%;
}

.copyright{
    font-weight: bold;
    font-size: 1vw;
    color:#ade6fa;
}

@media screen and (max-width:550px) {  
  .logo{
    display: none;
    width: 0%;
  }
}

@media screen and (max-width:600px) {  
  .group{
    border-bottom-color: transparent; 
  }
}

.panelGroupSubTitulo{
    background-color: #C1E1F0; 
    min-height: 30px;
}

.panelGroupTitulo {
    background-color: #349ED3; 
    min-height: 30px;
    text-align: start;
}



.AFDefaultFontFamily:alias {
   font-family: 'Lato';
}

/*ELEMENTOS PRINCIPALES (TEMPLATE PRINCIPAL)*/

.panelLogoSistema{
    max-width:50px;
    min-height:100%;
}

.panelNombreInstitucion{
    min-height:100%; 
    padding-top: 18px;
}

.nombreInstitucion{
    font-size: 2.5vw;
    min-width:30%;
}

.nombreSistema{
    font-size: 6vh;
    color: black;
}

.logo{
    width:20vh;
    padding-right:5vh;
    padding-left:2vh;
}

/*Boton "Ingresar" del Login*/
.btnIngresar, .btnIngresar .af_button_link:hover{
    background-image: none;
    color: #0B4765;
    background-color:#66AED2;
    border-color: #0B4765;
    text-shadow: 0px 0px #0B4765;
}

/*Efecto pasar cursor por encima del Boton "Ingresar" del Login*/
.btnIngresar .af_button_link:hover{
    color: #66AED2;
    background-color:#0B4765;
    border-color: #66AED2;
    text-shadow: 0px 0px #66AED2;
}

/*Textos de Usuario y Clave del Form de Login*/
.textoIngresar{
    font-size:13px;
    font-weight: bold;
    color:#C4E8FA;
}

/*Elementos deshabilitados de Tablas, Listas y Forms*/
.af_inputText.p_AFDisabled .af_inputText_content, 
.af_inputNumberSpinbox.p_AFDisabled .af_inputNumberSpinbox_content, 
.af_inputDate.p_AFDisabled .af_inputDate_content, 
.af_inputColor.p_AFDisabled .af_inputColor_content{
    background-color: white;
    -webkit-text-fill-color: black;
}

/*ELEMENTOS DEL MENU NATIVO*/

.nativoMenu {
font-size:15px;
font-weight:bold;
margin-left:1px;
margin-right:1px;background-color:#8ec7e3;border-radius:5px}

.tituloSubMenu,.af_menu_bar-item-text {font-size:15px;font-weight:bold;margin-left:1px;margin-right:1px;background-color:#8ec7e3}
.af_menu_bar-item-open-icon-style {background-color:#8ec7e3}
.nativoMenu:hover,.tituloSubMenu:hover {background-color:#66AED2;border-bottom-width:2px;border-color:transparent;border-bottom-color:#c4e0ee}
.af_menu_bar-item {border-radius:5px}
.menuBar {background-color:#1372a2;border-radius:10px}
.nativoSubMenu {background-color:#9acce5;font-size:12px;font-weight:bold}
.nativoSubMenuSub, .tituloSubSubMenu{background-color:#9acce5;font-size:12px;font-weight:bold}

/*af|menuBar::item{
    background-color: #8ec7e3;
    border-radius:5px;
}

af|menu::bar-item-text{
    font-size:15px;
    font-weight: bold;
    color: black;
}

af|commandMenuItem::bar-item-text{
    font-size:15px;
    font-weight: bold;
}

af|commandMenuItem::bar-item-text:hover{
    background-color: #66AED2;
}

af|menu::bar-item-text:hover, af|menu:hover{
    background-color: #66AED2;
}*/

/*ELEMENTOS DE CONTROL DE PISO*/
.tituloInformacion, .tituloTablaEpisodios, .tituloDatosPaciente, .tituloLabelElemento{
    margin-left: 10px;
    font-size: 1.2vw;
    color:white;
    font-weight: 600;
}

.tituloEncargado{
  font-size: 0.9vw;
  font-weight: 600;
  margin-left: 10px;
}


.panelListaReqGenerales{width: 100%;}

.panelListaCodigos, .panelListaReqCodigo{
    width: 100%;
    padding-bottom: 10px;
}

.panelTituloPagina{
    background-color: #349ED3; 
    min-height: 3000px;
}

.panelTabEpisodio, .panelTabControlReq{
    text-align: center;
    font-weight:600;
}

/*ELEMENTOS DE NOTICIAS*/

.labelElemento{
  font-size: 1.3vw;
  font-weight: bold;
}

.labelSubTitulo{
  font-size: 1.3vw;
  font-weight: bold;
}

.nombreEncargado{font-size: 1.2vw;}

.bloqueXnoticia{
    border-radius: 0px 0px 15px 15px;
    border-style: solid;
    border-color: lightgrey;
    border-width:1px;
    padding-bottom: 10px;
}

.comunicadosTitulo{font-size: 2vw;}

.fechaNoticia{
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}



.labelCarga, .labelTipoNoticia{
    font-size: 15px;
    font-weight: bold;
    padding-right: 15px;
}

.labelTipoNoticia{
    font-size: 18px;
    text-shadow: 1px 1px #DCD8D8;
    text-decoration: underline;
}

.link, .link:active, .link:visited{
    color:blue;
    font-size: 15px;
}

.link:hover{
    color:hotpink;
    font-size: 15px;
}

.inputNoticia{
    margin-left: 6px;
    width: 400px;
    height: 100px;
}

.textoNoticia{font-size:15px;}

.tituloNoticia{
    font-size: 20px;
    text-shadow: 1px 1px #8B8B8B;
    border-bottom-style: outset;
    border-bottom-color:Black;
    border-bottom-width:1px;
}

.panelTitulo{margin-left: 8px;}
.panelFecha{margin-left: 10px;}
.panelElemento{margin-left: 15px;}

.panelNoticia{
    margin-top: 10px;
    padding-top: 3px;
}


.barraNavegacion{
    /*padding-top: 10px;*/
    background-color: #1372A2;
}

.textoReporte{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}



.finalPagina{
    background-color: #1372A2;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
}
.labels{
    padding-top:2px;
}

.informacionFinal{
    font-weight: bold;
    font-size: 1.5vw;
}

.labels{display: inline-block;}
.lineaSeparadora{background-color: black;}

/*ELEMENTOS DE LAS TABLAS/LISTAS*/

/*Cabecera de Tablas*/
.af_column_column-header-cell{
    text-align: center;
    font-size: 0.9vw;
    background-color: #E1E1E1;
}

.af_column_data-cell .af_inputText.p_AFReadOnly .af_inputText_content,
.af_column_banded-data-cell .af_inputText.p_AFReadOnly .af_inputText_content{
    font-size: 1.8vh;
}

/*Elementos de las Tablas*/


/*Textos de Usuario y Clave del Form de Login*/
.textoError{
    font-size:13px;
    font-weight: bold;
    color:#FF93A2;
    text-shadow: 2px 2px black;
    font-size: 3.5vw;
}

.panelBotonesError{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

/*Acomoda el boton en el Panel Group Layout de Equivalencia de Procedimientos*/ 
.filtroProcedimientoPGL .af_panelFormLayout_content-cell,
.filtroPrestacionPGL .af_panelFormLayout_content-cell,
.filtroObraSocialPGL .af_panelFormLayout_content-cell{
    padding-top: 0px;
}

/*.cargaRequisitoPGL .af_panelFormLayout_content-cell,
.cargaCodigoPGL .af_panelFormLayout_content-cell{
    padding-top: 25px;
}
.cargaRequisitoPGL .af_panelFormLayout_column + .af_panelFormLayout_column,
.cargaCodigoPGL .af_panelFormLayout_column + .af_panelFormLayout_column,
.filtroObraSocialPGL .af_panelFormLayout_column + .af_panelFormLayout_column{
    padding-left: 2px;    
}

.cargaReqGeneralPGL .af_panelFormLayout_content-cell{padding-top: 65px;}

.cargarReqCodPGL .af_panelFormLayout_content-cell{padding-top: 15px;}*/

.errorCodigos{
    font-weight: bold;
    color:#FF93A2;
    text-shadow: 1px 1px black;
    font-size: 1.5vw;  
}

.popupcodigo, .PopUpMensaje{text-align: center;}

.af_dialog_title{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.PopUpMensajeTexto1{
    font-weight: bold;
    font-size: 12px;
}

.botonVolverListaEp{
    
}

.popUpElemento .af_dialog_title{
    text-align: center;
    /*color: white;
    background-color:#349ED3;*/
    font-size: 1vw;
}

/*-----BOTONES-----*/

/*.botonImgIrepLista .af_button_link:hover, 
.botonImgPopUpepRequisitos .af_button_link:hover,
.botonImgPopUpepCodigos .af_button_link:hover,
.botonImgCheckepReqCodigo .af_button_link:hover,
.botonImgCheckepRequisitos .af_button_link:hover,
.botonImgPopUptablaConvenios .af_button_link:hover,
.botonImgChecktablaConvenios .af_button_link:hover,
.botonImgEliminartablaConvenios .af_button_link:hover,
.botonImgRangoCodlistaModulosOS .af_button_link:hover,
.botonImgMedicamentolistaModulosOS .af_button_link:hover,
.botonImgCodMarcadoreslistaModulosOS .af_button_link:hover,
.botonImgDetallelistaModulosOS .af_button_link:hover,
.botonImgEliminarlistaModulosOS .af_button_link:hover,
.botonImgEliminarlistaCodigosEquiv .af_button_link:hover{
    font-weight: bold;
    color: #0B4765;
    background-color:#66AED2;
    border-color: #0B4765;
    text-shadow: 0px 0px #0B4765;
}*/

/*.botonImgIrlistaObrasSocialesParaEqvCod{
    height: 22px;
    min-height:10px;
}*/

.subTituloLabelElemento{
    margin-left: 8px;
    font-size: 0.9vw;
    color: black;
    font-weight: 600;
}

/*----ELEMENTOS DE ADMINISTRACION----*/

/*--ELEMENTOS DE CONTROL DE REQUISITOS--*/

/*.panelListaControlRequisitos{width: 50%}
.panelListaControlRequisitosOs{width:90%}
.panelListaControlReqCodigo{width:100%}*/

/*--ELEMENTOS DE GERENCIADORES--*/

.panelListaObrasSocialesGeren{width: 50%;}
.panelListaGerenciadores{width: 100%;}

.textoImportante{
    font-size:18px;
    font-weight:bold;
}

.descripcionImportante{
    font-size:14px;
    font-weight:bold;
}



.AFPanelFormLayoutContentCell .af_selectOneChoice_content {
    width:100%;
}
 
.AFPanelFormLayoutContentCell .af_selectOneChoice_content {
    width:100%;
}
 
.btnGenerarReporteEpisodio{
    font-family: 'Lato';
    font-size: 12px;
    color: #000000;
    background-color: #e5e9eb;
    font-weight: bold;
    min-height: 28px;
    border-color: #c4ced7;
}
 
 .scanned {
     width:40%;
     height:40%;
 }
 
.imagenRequisito{
    width:350px;
    height:450px;
}
 
.panelImagenRequisitos{
    width:350px;
    height:450px;
    border-style: groove ;
    border-width: 10px;
    border-color: #349ED3;
}
 
 /*.decorativeBoxImagenRequisitos .af_decorativeBox_frame .p_AFFlow{
     background-color:blue; 
 }*/
 
.panelGroupDatosCierre{
    position:fixed;
    top: 5vh;
    right: -70vh;
    transition: 0.3s;
    padding: 3vh;
    width: 70vh;
    text-decoration: none;
    color: white;
    z-index: 0;
}
 
.panelGroupDatosCierre:hover{
    right: -9vh;
}
 
.decorativeDatosCierre{
    border-left-style:solid;
    border-left-width: 3vh;
    border-left-color: #349ED3;
    border-bottom-style:solid;
    border-bottom-width: 2vh;
    border-bottom-color: #349ED3;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,80);
}
 
.panelTituloCierrreSeleccionado{
    background-color:#349ED3;
}

.textoTituloCierreSeleccionado{
    margin-left: 1vh;
    font-size: 1.2vw;
    color:white;
    font-weight: 600;    
 }
 
.panelBoxListaFinanciadores{
     width: 100%;
}
.filtroListaFinanciadores af_selectOneChoice{
    width:10%;
}

/*:*//*root{
  --btnAzul-back-oscuro: #66AED2; --btnAzul-back-claro: #0B4765; 
  --btnRojo-back-oscuro: #D9534F; --btnRojo-back-claro: #D43F3A; 
}*/

/*PROPIEDADES GENERALES DE LOS BOTONES*/
/*af|button{text-shadow: none;  background-image:none; border-radius: 1.5px; border:1px solid transparent !important; font-size:1em; }
af|button:hover{ border-radius: 3px; transition:0.25s; cursor: pointer; border:none; }
af|button::link{border:none; }
af|button:hover::link{ transition:0.25s; cursor: pointer; border:none; }
af|button:hover:active{ border:1px solid transparent !important; transition:0.15s; }
af|button:hover::link:active{ transition:0.15s; background-image:none; }*/

/*BOTON AZUL*/

/*af|button.btnAzul{font-size:1vw;background-color: var(--btnAzul-back-oscuro); box-shadow: 0px 0px 5px var(--btnAzul-back-claro); }
af|button.btnAzul:hover{background-color: var(--btnAzul-back-claro); box-shadow: 0px 0px 5px var(--btnAzul-back-oscuro);}
af|button.btnAzul::link{color: var(--btnAzul-back-claro); background-color: var(--btnAzul-back-oscuro); }
af|button.btnAzul:hover::link{color: var(--btnAzul-back-oscuro); background-color: var(--btnAzul-back-claro);}
af|button.btnAzul:hover:active{-webkit-box-shadow: 0px 0px 10px 3px var(--btnAzul-back-oscuro);}
af|button.btnAzul:hover::link:active{color:white;}*/

/*BOTON ROJO*/
/*af|button.btnRojo{background-color: var(--btnRojo-back-oscuro); box-shadow: 0px 0px 5px var(--btnRojo-back-claro);}
af|button.btnRojo:hover{background-color: var(--btnRojo-back-claro); box-shadow: 0px 0px 5px var(--btnRojo-back-oscuro);}
af|button.btnRojo::link{color: white; background-color: var(--btnRojo-back-oscuro); }
af|button.btnRojo:hover::link{color: white; background-color: var(--btnRojo-back-claro);}
af|button.btnRojo:hover:active{-webkit-box-shadow: 0px 0px 10px 3px var(--btnRojo-back-oscuro);}
af|button.btnRojo:hover::link:active{color:white;}*/
   
.columna{
    min-width:10000%;
}

.textoColumna{
    min-width:10000%;
}

.logAutoFrmFiltroPrestaciones{
    padding-left:1px;
}

af|panelFormLayout.filtroLogPrestaciones::column{
    width:5vw; 
}

.textoInformativo{
    font-size:2vh;
    font-weight:600;
}

.subTextoInformativo{
    font-size:1.8vh;
    font-weight:600;
    
}


.iconoGifme{
    padding-top:0.5vh;
    width:12vh;
    padding-bottom:0.5vh;
}

af|panelFormLayout::column af|selectOneChoice::content{
    width:10vw;
}
 
af|panelTabbed{
    text-align: center;
    font-weight:600;
}

af|panelTabbed::tab af|panelTabbed::tab-text-link{
    font-size: 0.85vw;
    font-weight:600;
    color: #1372A2;
}

af|panelTabbed::tab-text-link:selected{
    font-size: 1vw;
    font-weight:600;
    color: #349ED3 !important;
}

af|panelBox.panelBoxContenedor .af_panelBox_header-element, 
af|panelBox.panelBoxContenedor .af_panelBox_disclosed-icon-style, 
af|panelBox.panelBoxContenedor .af_panelBox_header-text,
af|panelBox.panelBoxContenedor .af_panelBox_disclosure-icon-container,
af|panelBox.panelBoxContenedor .af_panelBox_unmaximized-icon-style,
af|panelBox.panelBoxContenedor .af_panelBox_maximize-icon-container{
    background-color: #c1e1f0; 
    font-size:1vw;
}

.af_panelBox_toolbar{
    background-color: #c1e1f0; 
    padding-right:1vw;
    height:3vw;
}
af|panelBox.panelBoxContenedor .af_panelBox_disclosed-icon-style{
    width: 40px;
    height: 35px;
}

af|panelSplitter::vertical-icon-style{
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    text-align:left;
}

:root{
  --btnAzul-back-oscuro: #66AED2; --btnAzul-back-claro: #0B4765; 
  --btnRojo-back-oscuro: #D9534F; --btnRojo-back-claro: #D43F3A; 
  --btnVerde-back-oscuro: #5CB85C; --btnVerde-back-claro: #275927; 
  --btnAmarillo-back-oscuro: #f0AD4E; --btnAmarillo-back-claro: #75490a; 
}

/*PROPIEDADES GENERALES DE LOS BOTONES*/
af|button.effect{text-shadow: none; background-image:none; border-radius: 1.5px; transition:0.25s; border:1px solid transparent !important; font-size:1em; }
af|button.effect:hover{ border-radius: 3px; transition:0.25s; cursor: pointer; border:none; }
af|button.effect::link{transition:0.25s; border:none; font-size:1.8vh;}
af|button.effect:hover::link{ transition:0.25s; cursor: pointer; border:none; }
af|button.effect:hover:active{ border:1px solid transparent !important; transition:0.15s; }
af|button.effect:hover::link:active{ transition:0.15s; background-image:none; }

/*BOTON AZUL*/

af|button.btnAzul{background-color: var(--btnAzul-back-oscuro); box-shadow: 0px 0px 5px var(--btnAzul-back-claro); }
af|button.btnAzul:hover{background-color: var(--btnAzul-back-claro); box-shadow: 0px 0px 5px var(--btnAzul-back-oscuro);}
af|button.btnAzul::link{color: var(--btnAzul-back-claro); background-color: var(--btnAzul-back-oscuro); }
af|button.btnAzul:hover::link{color: var(--btnAzul-back-oscuro); background-color: var(--btnAzul-back-claro);}
af|button.btnAzul:hover:active{-webkit-box-shadow: 0px 0px 10px 3px var(--btnAzul-back-oscuro);}
af|button.btnAzul:hover::link:active{color:white;}

/*BOTON ROJO*/
af|button.btnRojo{background-color: var(--btnRojo-back-oscuro); box-shadow: 0px 0px 5px var(--btnRojo-back-claro);}
af|button.btnRojo:hover{background-color: var(--btnRojo-back-claro); box-shadow: 0px 0px 5px var(--btnRojo-back-oscuro);}
af|button.btnRojo::link{color: white; background-color: var(--btnRojo-back-oscuro); }
af|button.btnRojo:hover::link{color: white; background-color: var(--btnRojo-back-claro);}
af|button.btnRojo:hover:active{-webkit-box-shadow: 0px 0px 10px 3px var(--btnRojo-back-oscuro);}
af|button.btnRojo:hover::link:active{color:white;}
   
/*BOTON VERDE*/

af|button.btnVerde{background-color: var(--btnVerde-back-oscuro); box-shadow: 0px 0px 5px var(--btnVerde-back-claro); }
af|button.btnVerde:hover{background-color: var(--btnVerde-back-claro); box-shadow: 0px 0px 5px var(--btnVerde-back-oscuro);}
af|button.btnVerde::link{color: black; background-color: var(--btnVerde-back-oscuro); }
af|button.btnVerde:hover::link{color: var(--btnVerde-back-oscuro); background-color: var(--btnVerde-back-claro);}
af|button.btnVerde:hover:active{-webkit-box-shadow: 0px 0px 10px 3px var(--btnVerde-back-oscuro);}
af|button.btnVerde:hover::link:active{color:white;}   

/*BOTON AMARILLO*/

af|button.btnAmarillo{background-color: var(--btnAmarillo-back-oscuro); box-shadow: 0px 0px 5px var(--btnAmarillo-back-claro); }
af|button.btnAmarillo:hover{background-color: var(--btnAmarillo-back-claro); box-shadow: 0px 0px 5px var(--btnAmarillo-back-oscuro);}
af|button.btnAmarillo::link{color: var(--btnAmarillo-back-claro); background-color: var(--btnAmarillo-back-oscuro); }
af|button.btnAmarillo:hover::link{color: var(--btnAmarillo-back-oscuro); background-color: var(--btnAmarillo-back-claro);}
af|button.btnAmarillo:hover:active{-webkit-box-shadow: 0px 0px 10px 3px var(--btnAmarillo-back-oscuro);}
af|button.btnAmarillo:hover::link:active{color:white;}   

af|link::image{
    width:2.5vh;
    transition:0.35s;
}

af|link::image:hover{
    transition:0.35s;
    width: 3.5vh;
    
}

/*af|link::image:active{
    transition:0.15s;
    width: 4vh;
    background-color: var(--btnAzul-back-claro);
    border-radius: 0.5vh;
}*/

/*af|button{
    max-height:1em;
    max-width:2em;
}

af|button::link{
    max-height:0.5em;
    max-width:2em;
}*/

af|button::image{
    width:2vh;
}

af|statusIndicator::idle-icon{
    display:none;
}


af|statusIndicator::processing-icon{
    width:40px;
    height:35px;
    content: url('/resources/icons/loading.gif');
}

.AFPanelFormLayoutContentCell{
    padding-top:0px;
}

af|inputText.textAreaObservaciones::content{
    width: 300px;
}

af|panelFormLayout::label-cell{
    font-size:1.8vh;
    padding-left:10px;
}



.totalFichaValorizada{
    font-size:1vw;
    font-weight: bold;
    padding-left:10px;
}

af|panelLabelAndMessage::label{
    color: black;
    font-size:2.2vh;
    font-weight:bold;
}

.elementoSeleccionado{
    font-size:2.1vh;
    font-weight: bold;
    padding-left:5px;
}

.totalDeCierre{
    font-size:2.8vh;
    font-weight: bold;
    padding-left:5px;
    color:white;
    text-shadow: 1px 1px 2px black;
}

af|panelLabelAndMessage.labelSoloTextototalDeCierre::label{
    font-size:2.8vh;
    font-weight: bold;
    padding-left:3vw;
    color:white;
    text-shadow: 1px 1px 2px black;
}

.totales{
    font-size:2.2vh;
    font-weight: bold;
}

af|inputFile.importeImput::label,
af|inputFile.importeImput::content{
    color:black;
    font-weight:bold;
}

/*af|carousel::item.p_AFCircular,
af|carousel::item.p_AFCircular,
af|carousel::item.p_AFCircular:hover,
af|carousel::item.p_AFCircular.p_AFSelected,
af|carousel::item.p_AFCircular.p_AFSelected, 
af|carousel::item.p_AFCircular.p_AFSelected:hover{
    border:none;
    border-color:red;
    box-shadow:none;
}*/

.imagenNoticia{
   margin-top: 5px;
   margin-right: 5px;
   border-style:outset;
   border-color:#DCD8D8;
   border-width:5px;
   width: 15vw;
}

/*af|decorativeBox.filtroControlPisoEpisodios::center{
    margin-top:-15px;
    margin-bottom:14px;
}*/

af|decorativeBox::center{
    margin-top:-12px;
    margin-bottom:5px;
}

af|decorativeBox.panelBasico::center{
    margin-top:0px;
    margin-bottom:0px;
}